## Importing Libraries

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset
import torch.nn.functional as F
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import math

## Dataset

### Importing Dataset

In [3]:
# Downloading the data
aapl_df = yf.download('AAPL')
aapl_df.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099874  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094663  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087715  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089886   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092492   73449600

### Data Preprocessing

In [5]:
# Removing Adj Close and Volume column
aapl_df = aapl_df.drop(['Adj Close', 'Volume'], axis=1)

# Adding a column 'Prediction' which is shifted by 1 day
aapl_df['Prediction'] = aapl_df['Close'].shift(-1)

# Removing NA values
aapl_df = aapl_df.dropna()

aapl_df.head()

                Open      High       Low     Close  Prediction
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348    0.121652
1980-12-15  0.122210  0.122210  0.121652  0.121652    0.112723
1980-12-16  0.113281  0.113281  0.112723  0.112723    0.115513
1980-12-17  0.115513  0.116071  0.115513  0.115513    0.118862
1980-12-18  0.118862  0.119420  0.118862  0.118862    0.126116